{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'styles/contact.css' %}" rel="stylesheet" media="screen" />
{% endblock css %}

{% block main %}	
<article>
	<div class="row">
		<div class="col-md-6 col-sm-8 col-xs-12 col-md-push-3 col-sm-push-2">
			<form role="form" action="{% url 'comments:contact' %}" method="post" >
				{% csrf_token %}
				<fieldset>
					<legend>联系我们</legend>
					<div class="form-group">
						<label for="{{ form.name.id_for_label }}">姓名</label>
						{{form.name}}
						{{form.name.errors}}
					</div>
					<div class="form-group">
						<label for="{{ form.sex.id_for_label }}">性别</label>
						<div>
							{% for radio in form.sex %}
								{{radio}}
							{% endfor %}
						</div>
					</div>
					<div class="form-group">
						<label for="{{ form.birth.id_for_label }}">出生年月</label>
						{{form.birth}}
						{{form.birth.errors}}
					</div>
					<div class="form-group">
						<label for="{{ form.email.id_for_label }}">邮箱</label>
						{{form.email}}
						{{form.email.errors}}
					</div>
					<div class="form-group">
						<label for="{{ form.content.id_for_label }}">发送的消息</label>
						{{form.content}}
						{{form.content.errors}}
					</div>
					<div class="form-group" id='check'>
						<label>类型</label>
						<div>
							<label for="{{ form.public.id_for_label }}">
								{{form.public}}
								{{form.public.errors}}
								公开
							</label>
							<label for="{{ form.important.id_for_label }}">
								{{form.important}}
								{{form.important.errors}}
								重要
							</label>
							<button type="submit" class="btn btn-default">提交</button>
						</div>
					</div>
				</fieldset>
			</form>
			{% if response %}
				<div class="alert alert-success alert-dismissable">
				提交成功！您发送的消息经筛选后将可能会出现在下方的评论栏中，敬请关注
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				</div>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3 id="well">评论区</h3>
			<div class="well">
				<ul class="media-list">
				{% for comment in comment_list %}
					<li class="media">
						<a href="#" class="media-left">
							<img src="{% static 'images/tmp.jpg' %}" class="media-object img-circle" alt="photo" />
						</a>
						<div class="media-body">
							<h4 class="media-heading">{{comment.name}}</h4>
							<span class="pull-right">{{comment.created_time}}</span>
							<p>{{comment.content}}</p>
							{% for reply in comment.reply_set.all %}
							<div class="media">
								<a href="#" class="media-left">
									<img src="{% static 'images/tmp.jpg' %}" class="media-object img-circle" alt="photo" />
								</a>
								<div class="media-body">
									<h4 class="media-heading">{{reply.name}}</h4>
									<span class="pull-right">{{reply.created_time}}</span>
									<p>{{reply.content}}</p>
								</div>
							</div>
							{% endfor %}
						</div>
					</li>
				{% empty %}
				暂无评论
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</article>
{% endblock main %}