{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'styles/contact.css' %}" rel="stylesheet" media="screen" />
{% endblock css %}

{% block main %}	
<article>
	<div class="row">
		<div class="col-md-6 col-sm-8 col-xs-12 col-md-push-3 col-sm-push-2">
			<form role="form">
				<fieldset>
					<legend>联系我们</legend>
					<div class="form-group">
						<label>姓名</label>
						<input class="form-control" type="text" placeholder="请输入你的姓名" name="name" maxlength="20" required  oninvalid="setCustomValidity('请输入你的姓名');" oninput="setCustomValidity('');" />
					</div>
					<div class="form-group">
						<label>性别</label>
						<div>
							<label class="radio-inline">
								<input type="radio" value="man" checked name="sex" />
								男
							</label>
							<label class="radio-inline">
								<input type="radio" value="woman" name="sex" />
								女
							</label>
						</div>
					</div>
					<div class="form-group">
						<label>出生年月</label>
						<input class="form-control" name="date" type="date" placeholder="请输入你的出生年月，例如：1994/06/06" maxlength="15" />
					</div>
					<div class="form-group">
						<label>邮箱</label>
						<input class="form-control" type="email" name="email" placeholder="请输入你的电子邮箱地址" required oninvalid="setCustomValidity('请输入你的邮箱');" oninput="setCustomValidity('');" />
					</div>
					<div class="form-group">
						<label>发送的消息</label>
						<textarea class="form-control" maxlength="300" rows="5" name="content" required oninvalid="setCustomValidity('请输入你要发送的信息');" oninput="setCustomValidity('');"></textarea>
					</div>
					<div class="form-group" id='check'>
						<label>类型</label>
						<div>
							<label>
								<input type="checkbox" name="privacy" value="true" checked />
								公开
							</label>
							<label>
								<input type="checkbox" name="important" value="true" />
								重要
							</label>
							<button type="submit" class="btn btn-default">提交</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3 id="well">评论区</h3>
			<div class="well">
				<ul class="media-list">
					<li class="media">
						<a href="#" class="media-left">
							<img src="{% static 'images/tmp.jpg' %}" class="media-object img-circle" alt="photo" />
						</a>
						<div class="media-body">
							<h4 class="media-heading">用户名1</h4>
							<p>这是评论的内容。这是评论的内容。这是评论的内容。这是评论的内容。这是评论的内容。这是评论的内容。这是评论的内容。</p>
						</div>
					</li>
					<li class="media">
						<a href="#" class="media-left">
							<img src="{% static 'images/tmp.jpg' %}" class="media-object img-circle" alt="photo" />
						</a>
						<div class="media-body">
							<h4 class="media-heading">用户名2</h4>
							<p>这是评论的内容。这是评论的内容。这是评论的内容。这是评论的内容。这是评论的内容。这是评论的内容。这是评论的内容。</p>
							<div class="media">
								<a href="#" class="media-left">
									<img src="{% static 'images/tmp.jpg' %}" class="media-object img-circle" alt="photo" />
								</a>
								<div class="media-body">
									<h4 class="media-heading">用户名3</h4>
									<p>这是对评论的回复。这是对评论的回复。这是对评论的回复。这是对评论的回复。这是对评论的回复。这是对评论的回复。</p>
								</div>
							</div>
						</div>
					</li>
					<li class="media">
						<a href="#" class="media-left">
							<img src="{% static 'images/tmp.jpg' %}" class="media-object img-circle" alt="photo" />
						</a>
						<div class="media-body">
							<h4 class="media-heading">用户名4</h4>
							<p>这是评论的内容。这是评论的内容。这是评论的内容。这是评论的内容。这是评论的内容。这是评论的内容。这是评论的内容。</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</article>
{% endblock main %}