{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'styles/news.css' %}" rel="stylesheet" media="screen" />
{% endblock css %}

{% block main %}					
<article>
	<div class="row" id="row">
		<div class="col-md-2 col-sm-3 hidden-xs">
			<div id="border">
				<h3>新闻分类</h3>
				<ul id="type-news">
					<li><a href="{% url 'web201:news' 'life' %}">日常生活</a></li>
					<li><a href="{% url 'web201:news' 'academic' %}">科研工作</a></li>
					<li><a href="{% url 'web201:news' 'happy' %}">喜讯</a></li>
				</ul>
			</div>
		</div>
		<div id="article-content" class="col-md-10 col-sm-9 col-xs-12">
			<article id="{{length}}">
				<h3>{{post.title}}</h3>
				<p><span>作者：{{post.author}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>时间：{{post.time|date}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>阅读量：{{post.views}}</span></p>
				<div>{{post.content}}</div>
			</article>
			<div id="pages-content">
				<div id="left-page">
					<span id="left-text" class="news-text hidden-sm text-right hidden-xs" index="{{pre}}">{{pre_title}}</span>
					<button id='left' class='btn btn-default btn-sm'><span class="glyphicon glyphicon-chevron-left"></span></button>
				</div>
				<div id="right-page">
					<button id='right' class='btn btn-default btn-sm'><span class="glyphicon glyphicon-chevron-right"></span></button>
					<span id="right-text" class="news-text hidden-sm hidden-xs" index="{{next}}">{{next_title}}</span>
				</div>
			</div>
			<div class="jiathis_style pull-right">
				<span class="pull-left">分享到：</span>
				<a class="jiathis_button_qzone"></a>
				<a class="jiathis_button_tsina"></a>
				<a class="jiathis_button_tqq"></a>
				<a class="jiathis_button_weixin"></a>
				<a class="jiathis_button_renren"></a>
				<a class="jiathis_button_douban"></a>
			</div>
		</div>
	</div>
</article>
{% endblock main %}

{% block extra_js %}
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
{% endblock extra_js %}		