{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'styles/index.css' %}" rel="stylesheet" media="screen" />
{% endblock css %}

{% block main %}
<div class="row">
	<div class="col-md-5 col-sm-12 col-xs-12">
		<div class="carousel slide" id="Carousel" data-ride="carousel" data-interval="4000">
			<!-- 轮播页码 -->
			<ol class="carousel-indicators">
				<li data-target="#Carousel" data-slide-to="0" class="active"></li>
				<li data-target="#Carousel" data-slide-to="1"></li>
				<li data-target="#Carousel" data-slide-to="2"></li>
				<li data-target="#Carousel" data-slide-to="3"></li>
				<li data-target="#Carousel" data-slide-to="4"></li>
			</ol>
			<!-- 轮播项目 -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="{% static 'images/slide1.jpg' %}" alt="闪电" />
					<div class="carousel-caption"><b>闪电</b></div>
				</div>
				<div class="item">
					<img src="{% static 'images/slide2.jpg' %}" alt="模拟课程" />
					<div class="carousel-caption"><b>模拟课程</b></div>
				</div>
				<div class="item">
					<img src="{% static 'images/slide3.jpg' %}" alt="生日" />
					<div class="carousel-caption"><b>生日</b></div>
				</div>
				<div class="item">
					<img src="{% static 'images/slide4.jpg' %}" alt="聚餐" />
					<div class="carousel-caption"><b>聚餐</b></div>
				</div>
				<div class="item">
					<img src="{% static 'images/slide5.jpg' %}" alt="小明" />
					<div class="carousel-caption"><b>小明</b></div>
				</div>
			</div>
			<!-- 轮播导航-->
			<a class="carousel-control left" href="#Carousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left">
				</span>
			</a>
			<a class="carousel-control right" href="#Carousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right">
				</span>
			</a>
		</div>
	</div>
	<div class="col-md-7 col-sm-12 col-xs-12">
		<ul class="nav nav-tabs ">
			<li name="Welcome" class="active"><a href="#Welcome">欢 迎</a></li>
			<li name="Introduction"><a href="#Introduction">介 绍</a></li>
			<li name="News" ><a href="#News">新 闻</a></li>
		</ul>
		<article id="Welcome">
			<p><span>欢</span>迎来到海洋地质办公室201！这里既有钻研科学的学术大牛，又有引领时尚的颜值担当，除了人见人爱的海院主播，还有努力奋斗的编程小白。
			如果你对我们感兴趣，请前往 <a href="{% url 'web201:introduction' %}">介绍</a> 了解更多关于海洋地质办公室201的信息。
			</p>
		</article>
		<article id="Introduction">
			<p><span>我</span>们的办公室在美丽的浙江大学舟山校区。位于圆正酒店对面的海洋科学楼的2层。办公室共有11名中国学生，包括博士后1人，博士5人, 硕士5人，其中一部分属于
			 <a href="{% url 'web201:teachers' 'li'%}">李春峰教授</a>的学生，另外一部分则是<a href="{% url 'web201:teachers' 'wang'%}">王英民教授</a>的学生。我们主要的研究方向是海洋地质和地球物理。
			</p>
			<a class="more" href="{% url 'web201:introduction' %}">更多...</a>
		</article>
		<article id="News">
			<ul>
				{% if first_article %}
				<li>
					<span class="glyphicon glyphicon-circle-arrow-right"></span> <a href="{{first_article.get_absolute_url}}">{{first_article.title}}</a>
					<span class="new">
						<span class="glyphicon glyphicon-fire"></span> new
					</span>
					<span class="time pull-right">{{first_article.time|date}}</span>
				</li>
				{% else %}
				暂无新闻
				{% endif %}
				{% for article in other_articles %}
				<li>
					<span class="glyphicon glyphicon-circle-arrow-right"></span> <a href="{{article.get_absolute_url}}">{{article.title}}</a>
					<span class="time pull-right">{{article.time|date}}</span>
				</li>
				{% endfor %}
			</ul>
			<a class="more" href="{% url 'web201:news' 'life' %}">更多...</a>
		</article>
	</div>
</div>
{% endblock main %}