{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'styles/news.css' %}" rel="stylesheet" media="screen" />
{% endblock css %}

{% block main %}
<article>
	<div class="row">
		<div class="col-md-2 col-sm-3 hidden-xs">
			<div id="border">
				<h3>新闻分类</h3>
				<ul id="type-news">
					<li><a href="{% url 'web201:news' 'life' %}">日常生活</a></li>
					<li><a href="{% url 'web201:news' 'academic' %}">科研工作</a></li>
					<li><a href="{% url 'web201:news' 'happy' %}">喜讯</a></li>
				</ul>
			</div>
		</div>
		<div id="article-content" class="col-md-10 col-sm-9 col-xs-12">
			<ul id="content-news">
				{% for post in article_list %}
					<li>
						<a href="{{post.get_absolute_url}}" class="{{post.pk}}">{{post.title}}</a>
						<span>{{post.time|date}}</span>
						<hr/>
					</li>
				{% empty %}
					<div>暂时没有发布的新闻</div>
				{% endfor %}
			</ul>
			{% if data %}
			<ul id="pages" class="pagination pagination-sm pagination-xs">
				{% if data.first %}
					<li><a href="?page=1">1</a></li>
				{% endif %}
				{% if data.left %}
					{% if data.left_has_more %}
						<li><span>...</span></li>
					{% endif %}
					{% for i in data.left %}
						<li><a href="?page={{i}}">{{i}}</a></li>
					{% endfor %}
				{% endif %}
				<li class="active"><a href="?page={{data.page}}">{{data.page}}</a></li>
				{% if data.right %}
					{% for i in data.right %}
						<li><a href="?page={{i}}">{{i}}</a></li>
					{% endfor %}
					{% if data.right_has_more %}
						<li><span>...</span></li>
					{% endif %}
				{% endif %}
				{% if data.last %}
					<li><a href="?page={{data.total_pages}}">{{data.total_pages}}</a></li>
				{% endif %}
			</ul>
			{% endif %}
		</div>
	</div>
</article>
{% endblock main %}

