{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'styles/personal.css' %}" rel="stylesheet" media="screen" />
{% endblock css %}

{% block main %}	
<article>
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-4">
			<img id="person_pic"  src='{{user1.pic.url}}' alt="" />
		</div>
		<div class="claearfix visible-xs"></div>
		<div id="information" class="col-md-9 col-sm-9 col-xs-8">
			<h3 id="user_name">{{user1.username}}</h3>
			{% if user1.sex == '1' %}
				<img class="sex" src="{% static 'images/man.png' %}" alt="男" />
			{% else %}
				<img class="sex" src="{% static 'images/woman.png' %}" alt="女" />
			{% endif %}
			{% if user.is_authenticated and user.username == user1.username %}		
				<div class="circle pull-right">
					<a href="{% url 'users:change' %}" title="修改个人资料">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
				</div>
				<span class="pull-right help_text">修改个人资料</span>
				{% if user.emailverify.actived %}
					<div id="email_active">
						<button type="button" class="btn btn-default btn-sm" disabled="disabled">激活邮箱&nbsp;<span class="glyphicon glyphicon-envelope"></span></button>&nbsp;<span id="active_text" class="actived">邮箱已激活</span>
					</div>
				{% else %}
					<div id="email_active">
						<button type="button" class="btn btn-default btn-sm">激活邮箱&nbsp;<span class="glyphicon glyphicon-envelope"></span></button>&nbsp;<span id="active_text" class="unactived">邮箱未激活</span>
					</div>
				{% endif %}
				<br/>
				<p class="badge email">邮箱：{{request.user.email}}</p>
			{% endif %}
			{% if user1.signature %}
				<p>{{user1.signature}}</p>
			{% else %}
				<p>无个性签名</p>
			{% endif %}
			<hr/>
			<p>爱好：{{user1.hobby}}</p>
		</div>
	</div>
</article>
{% endblock main %}