{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'styles/personal.css' %}" rel="stylesheet" media="screen" />
{% endblock css %}

{% block main %}	
<article>
	<div class="row">
		<div class="col-md-3 col-sm-3 col-xs-4">
			<img id="person_pic"  src='{{user1.pic.url}}' alt="" />
		</div>
		<div class="claearfix visible-xs"></div>
		<div id="information" class="col-md-9 col-sm-9 col-xs-8">
			<h3 id="user_name">{{user1.username}}</h3>
			{% if user.is_authenticated and user.username == user1.username %}
				<div class="circle pull-right"><a href="{% url 'users:change' %}?personal_name={{user.username}}"><span class="glyphicon glyphicon-edit"></span></a></div>
			{% endif %}
			{% if user1.sex == '1' %}
				<img class="sex" src="{% static 'images/man.png' %}" alt="男" />
			{% else %}
				<img class="sex" src="{% static 'images/woman.png' %}" alt="女" />
			{% endif %}
			<p>{{user1.signature}}</p>
			<hr/>
			<p>爱好：{{user1.hobby}}</p>
		</div>
	</div>
</article>
{% endblock main %}