{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Marine Geology Office 201</title>
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="{% static 'styles/students.css' %}" rel="stylesheet" media="screen" />
		<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
		<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-xs-12">
						<div class="row">
							<div class="col-sm-3 hidden-xs">
								<a href="http://www.zju.edu.cn/"><img id="logo" src="{% static 'images/school.gif' %}" class="img-responsive" alt="ZJU" /></a>
							</div>
							<div class="col-sm-9 col-xs-12">
								<h1 id="title"><b><i>Marine Geology Office 201</i></b></h1>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12">
						<form role="form" id="search" method="get" action="{% url 'web201:search' %}">
							<div class="input-group">
								<input type="search" class="form-control" placeholder="Search..." required name="q" />
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="container">
				<nav class="navbar" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand visible-xs" href="#">Start</a>
					</div>
					<div class="collapse navbar-collapse" id="navbar">
						<div class="row">
							<ul class="nav navbar-nav">
								<div class="col-lg-2 col-md-4 col-sm-4">
									<li><a href="{% url 'web201:home' %}">Home</a></li>
								</div>
								<div class="col-lg-2 col-md-4 col-sm-4">
									<li><a href="{% url 'web201:introduction' %}">Introduction</a></li>
								</div>
								<div class="col-lg-2 col-md-4 col-sm-4">
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											Teachers
											<b class="caret"></b>
										</a>
										<ul class="dropdown-menu" role="meun">
											<li><a href="{% url 'web201:teachers' 'li'%}">ChunFeng Li</a></li>
											<li><a href="{% url 'web201:teachers' 'wang'%}">YingMin Wang</a></li>
										</ul>
									</li>
								</div>
								<div class="col-lg-2 col-md-4 col-sm-4">
									<li><a href="{% url 'web201:students' %}">Students</a></li>
								</div>
								<div class="col-lg-2 col-md-4 col-sm-4">
									<li><a href="{% url 'web201:news' 'life' %}">News</a></li>
								</div>
								<div class="col-lg-2 col-md-4 col-sm-4">
									<li><a href="{% url 'web201:contact' %}">Contact</a></li>
								</div>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</header>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<article>
						<h2 class="hidden-xs">The Students' Home</h2>
						<div id="location" class="hidden-xs">
							<img id="map" class="img-responsive" alt="map" src="{% static 'images/map.jpg' %}" />
							<div id="zjw" class="marker">
								<span class="glyphicon glyphicon-map-marker"></span>
								<img class="img-circle img-responsive" src="{% static 'images/1.jpg' %}" alt="zjw" />
							</div>
							<div id="wmh" class="marker">
								<span class="glyphicon glyphicon-map-marker"></span>
								<img class="img-circle img-responsive" src="{% static 'images/2.jpg' %}" alt="wmh" />
							</div>
							<div id="gsm" class="marker">
								<span class="glyphicon glyphicon-map-marker"></span>
								<img class="img-circle img-responsive" src="{% static 'images/3.jpg' %}" alt="gsm" />
							</div>
							<div id="hwa" class="marker">
								<span class="glyphicon glyphicon-map-marker"></span>
								<img class="img-circle img-responsive" src="{% static 'images/4.jpg' %}" alt="hwa" />
							</div>
							<div id="lxx" class="marker">
								<span class="glyphicon glyphicon-map-marker"></span>
								<img class="img-circle img-responsive" src="{% static 'images/5.jpg' %}" alt="lxx" />
							</div>
							<div id="zs" class="marker">
								<span class="glyphicon glyphicon-map-marker"></span>
								<img class="img-circle img-responsive" src="{% static 'images/6.jpg' %}" alt="zs" />
							</div>
							<div id="wxx" class="marker">
								<span class="glyphicon glyphicon-map-marker"></span>
								<img class="img-circle img-responsive" src="{% static 'images/7.jpg' %}" alt="wxx" />
							</div>
							<div id="zd" class="marker">
								<span class="glyphicon glyphicon-map-marker"></span>
								<img class="img-circle img-responsive" src="{% static 'images/8.jpg' %}" alt="zd" />
							</div>
							<div id="wyl" class="marker">
								<span class="glyphicon glyphicon-map-marker"></span>
								<img class="img-circle img-responsive" src="{% static 'images/9.jpg' %}" alt="wyl" />
							</div>
							<div id="zht" class="marker">
								<span class="glyphicon glyphicon-map-marker"></span>
								<img class="img-circle img-responsive" src="{% static 'images/10.jpg' %}" alt="zht" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-md-push-3 col-xs-12">
								<ul class="nav" id="classification">
									<li id="all" class="cur"><a href="#person">All</a></li>
									<li id="boys"><a href="#person">Boys</a></li>
									<li id="girls"><a href="#person">Girls</a></li>
									<li id="masters"><a href="#person">Masters</a></li>
									<li id="doctors"><a href="#person">Doctors</a></li>
									<li id="li"><a href="#person">Li's students</a></li>
									<li id="wang"><a href="#person">Wang's students</a></li>
								</ul>
							</div>
						</div>
						<div class="row" id="persons">
							<div class="col-md-6 col-xs-12">
								<ul id="list" class="source">
									<li data-id="id-1" class="boys masters wang">
										<a href="#">
											<img class="img-circle img-responsive" src="{% static 'images/1.jpg' %}" alt="zjw">
										</a>
										<span>zjw</span>
									</li>
									<li data-id="id-2" class="boys doctors wang">
										<a href="#">
											<img class="img-circle img-responsive" src="{% static 'images/2.jpg' %}" alt="wmh">
										</a>
										<span>wmh</span>
									</li>
									<li data-id="id-3" class="girls masters wang">
										<a href="#">
											<img class="img-circle img-responsive" src="{% static 'images/3.jpg' %}" alt="gsm">
										</a>
										<span>gsm</span>
									</li>
									<li data-id="id-4" class="girls masters li">
										<a href="#">
											<img class="img-circle img-responsive" src="{% static 'images/4.jpg' %}" alt="hwa">
										</a>
										<span>hwa</span>
									</li>
									<li data-id="id-5" class="girls doctors li">
										<a href="#">
											<img class="img-circle img-responsive" src="{% static 'images/5.jpg' %}" alt="lxx">
										</a>
										<span>lxx</span>
									</li>
									<li data-id="id-6" class="boys masters li">
										<a href="#">
											<img class="img-circle img-responsive" src="{% static 'images/6.jpg' %}" alt="zs">
										</a>
										<span>zs</span>
									</li>
									<li data-id="id-7" class="boys doctors wang">
										<a href="#">
											<img class="img-circle img-responsive" src="{% static 'images/7.jpg' %}" alt="wxx">
										</a>
										<span>wxx</span>
									</li>
									<li data-id="id-8" class="boys doctors li">
										<a href="#">
											<img class="img-circle img-responsive" src="{% static 'images/8.jpg' %}" alt="zd">
										</a>
										<span>zd</span>
									</li>
									<li data-id="id-9" class="boys masters li">
										<a href="#">
											<img class="img-circle img-responsive" src="{% static 'images/9.jpg' %}" alt="wyl">
										</a>
										<span>wyl</span>
									</li>
									<li data-id="id-10" class="boys doctors wang">
										<a href="#">
											<img class="img-circle img-responsive" src="{% static 'images/10.jpg' %}" alt="zht">
										</a>
										<span>zht</span>
									</li>
								</ul>
							</div>
							<div class="col-md-6 col-xs-12">
								<div id="personal">
									<h2>zjw</h2>
									<img class="img-responsive" src="{% static 'images/1.jpg' %}" alt="photo">
									<p>本科毕业于西南石油大学，现硕士研究生在读。爱好乒乓球和羽毛球，喜欢和朋友一起愉快地玩耍。处于人生十字口中一只迷茫的小白，最近由于毕业问题，心里充满了烦恼和忧虑，希望能早点做完项目，顺利发表文章毕业，最终能找到一份自己喜爱的工作。邮箱：591342608@qq.com</p>
								</div>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-xs-12">
						<p class="text-center">Zhejiang University (Zhoushan campus) | 1 Zheda Road | Zhoushan, Zhejiang Province | <span class="glyphicon glyphicon-envelope"></span> 316021 | <span class="glyphicon glyphicon-phone-alt"></span> 123456789</p>
						<p class="text-center">&copy; 2017-2018 Marine Geology office 201 <a href="http://www.miitbeian.gov.cn/">浙ICP备17037327号</a></p>
					</div>
					<div class="col-md-2 col-xs-12">
						<ul class="pull-right">
							<li><a href="#" data-toggle="tooltip" data-html="true" title="<img src='{% static "images/QQ.jpg" %}' style='height:80px; width:80px;'>"><img src="{% static 'images/tx.jpg' %}" alt="QQ"></a></li>
							<li><a href="#" data-toggle="tooltip" data-html="true" title="<img src='{% static "images/wechat.jpg" %}' style='height:80px; width:80px;'>"><img src="{% static 'images/wx.jpg' %}" alt="Wechat"></a></li>
							<li><a href="http://weibo.com/u/3125492073?is_all=1" target="_blank"><img src="{% static 'images/xl.jpg' %}" alt="Blog"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{% static 'js/quicksand.js' %}"></script>
		<script src="{% static 'js/javascript.js' %}"></script>
	</body>
</html>