{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static 'styles/password_change.css' %}" rel="stylesheet" media="screen" />
{% endblock css %}

{% block main %}
<article>
	<div class="row">
		<div class="col-md-2 col-sm-3 col-xs-3">
			<div>
				<h3>修改设置</h3>
				<ul id="type-news">
					<li><a href="{% url 'users:change' %}">个人信息</a></li>
					<li class="active"><a href="{% url 'password_change' %}">修改密码</a></li>
				</ul>
			</div>
		</div>
		<div id="border" class="col-md-10 col-sm-9 col-xs-9">
			<h4>修改密码</h4>
			<form role="form" action="{% url 'password_change' %}" method="post" class="user_form">
				{% csrf_token %}
				<div class="form-group">
					<label for="{{ form.old_password.id_for_label }}">旧密码：</label>
					{{ form.old_password }}
					{{ form.old_password.errors }}
				</div>
				<div class="form-group">
					<label for="{{ form.new_password1.id_for_label }}">新密码：</label>
					{{ form.new_password1 }}
					{{ form.new_password1.errors }}
				</div>
				{% if form.new_password1.help_text %}
						<p>{{ form.new_password1.help_text|safe }}</p>
				{% endif %}
				<div class="form-group">
					<label for="{{ form.new_password2.id_for_label }}">重新输入新密码：</label>
					{{ form.new_password2 }}
					{{ form.new_password2.errors }}
				</div>
				{{ form.non_field_errors }}
				<button id="register" type="submit" class="btn btn-default">确认修改</button>
			</form>
		</div>
	</div>
</article>
{% endblock main %}

