body{
	background-color:#fdfcf8;
	margin-left:10%;
	margin-right:10%;
	margin-top:1em;
}

#logo{
	min-width:4em;
	padding-left:10%;
	padding-right:10%
}

#title{
	padding-top:5%;
	margin-left:-0.5em;
}

#search{
	padding-top:.5em;
}

nav{
	margin-top:0.5em;
	line-height:1.7;
}

#navbar{
	background-color:#A52A2A;
}

#navbar>div>ul{
	width:100%;
}

#navbar>div>ul>div>li{
	height:100%;
	text-align:center;
}

#navbar>div>ul>div>li>a{
	color:#FFFFFF;
	font-size:2em;
	width:100%;
	display:inline-block;
	height:100%;
}
#navbar>div>ul>div>li>a:link{
	text-decoration:none;
}

#navbar>div>ul>div>li>a:visited{
	font-weight:bold;
	background-color:#DC143C;
	text-decoration:none;
}

#navbar>div>ul>div>li>a:hover{
	font-weight:bold;
	background-color:#DC143C;
	text-decoration:none;
}

#navbar>div>ul>div>li>a:active{
	font-weight:bold;
	background-color:#DC143C;
	text-decoration:none;
}


div.navbar-header{
	background-color:#A52A2A;
}

div.navbar-header>button{
	background-color:#FFFFFF;
}

div.navbar-header>button>span{
	background-color:#A52A2A;
} 

#navbar ul.dropdown-menu{
	width:100%;
}

#navbar ul.dropdown-menu a{
	font-size:20px;
	text-align:center;
}

div.navbar-header a{
	color:#FFFFFF;
	font-weight:bold;
	font-size:25px;
}

ul.navbar-nav{
	margin-left:0;
	margin-right:0;
}

#Carousel b{
	font-size:20px;
}

#Carousel{
	margin-bottom:1em;
}

ul.nav-tabs a{
	font-size:20px;
	font-weight:bold;
	color:gray;
}

ul.nav-tabs li.active a{
	color:black;
}

ul.nav-tabs~article{
	padding-top:.5em;
	padding-left:1em;
	padding-right:1em;
	background-color:#FFFFFF;
	font-size:20px;
	line-height:180%;
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
	border-right:1px solid #ddd;
	min-height:14.7em;
}
ul.nav-tabs~article>p{
	margin:0;
}

ul.nav-tabs~article p span{
	float:left;
	font-size:300%;
	font-family:algerian,courier;
	line-height:120%;
	width:1em;
}

#News{
	padding-left:.5em;
}

#News ul li{
	line-height:1.5em;
	margin-top:1.2em;
	list-style-type:none;
}

span.glyphicon-circle-arrow-right{
	font-size:18px;
}

#News ul li>a{
	color:black;
}

span.new{
	font-style:italic;
	color:red;
}

span.glyphicon-fire{
	font-style:none;
	font-size:20px;
}

span.time{
	font-size:15px;
	display:inline;
	height:1.5em;
}

a.more{
	color:red;
	font-size:15px;
	font-style:italic;
	margin:0;
	padding:0;
	display:block;
	position:absolute;
	bottom:0;
	right:25px;
}

a.more:hover{
	text-decoration:none;
	font-weight:bold;
}

footer div.row{
	background-color:#C0C0C0;
	margin:5px 1px;
}

footer ul{
	list-style-type:none;
}

footer ul li{
	float:left;
	padding-right:10px;
}
footer ul li img{
	width:20px;
	height:20px;
}