body{
	background-color:#fdfcf8;
	margin-left:10%;
	margin-right:10%;
	margin-top:1em;
	min-width:500px;
}

@media (max-width:600px){
	body{
		background-color:#fdfcf8;
		margin-left:0;
		margin-right:0;
		margin-top:1em;
		min-width:500px;
	}
}

#logo{
	min-width:4em;
	padding-left:10%;
	padding-right:10%
}

#title{
	padding-top:5%;
}

#search{
	padding-top:.5em;
}

#user_pic{
	width:20px;
	height:20px;
	margin-top:-5px;
	border:1px #ddd solid;
}

a.user{
	color:black;
	
}

a.user:hover{
	color:red;
	text-decoration:none;
}

span.glyphicon-off{
	font-size:12px;
}

div.separate{
	width:1px;
	border-left:1px solid black;
	height:14px;
	display:inline-block;
	margin:0 5px -2px 5px;
}

nav{
	margin-top:0.5em;
	line-height:1.7;
}

#navbar{
	background-color:#A52A2A;
}

#navbar>div>ul{
	width:100%;
}

#navbar>div>ul>div>li{
	height:100%;
	text-align:center;
}

#navbar>div>ul>div>li>a{
	color:#FFFFFF;
	font-size:2em;
	width:100%;
	display:inline-block;
	height:100%;
}

#navbar>div>ul>div>li>a:link{
	text-decoration:none;
}


#navbar>div>ul>div>li>a:hover{
	font-weight:bold;
	background-color:#DC143C;
	text-decoration:none;
}

#navbar>div>ul>div>li>a:active{
	font-weight:bold;
	background-color:#DC143C;
	text-decoration:none;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
	background-color: #DC143C;
	font-weight:bold;
}

div.navbar-header{
	background-color:#A52A2A;
}

div.navbar-header>button{
	background-color:#FFFFFF;
}

div.navbar-header>button>span{
	background-color:#A52A2A;
} 

#navbar ul.dropdown-menu{
	width:100%;
}

#navbar ul.dropdown-menu a{
	font-size:20px;
	text-align:center;
}

div.navbar-header a{
	color:#FFFFFF;
	font-weight:bold;
	font-size:25px;
}

ul.navbar-nav{
	margin-left:0;
	margin-right:0;
}

.navbar-collapse.in{
	border-top:1px solid white !important;
}

ul.nav-pills.nav-stacked li a{
	text-align:center;
	color:black;
	font-weight:bold;
}

ul.nav-pills.nav-stacked li a:hover{
	background-color:#DC143C;
}

ul.nav-pills.nav-stacked li.active>a{
	background-color:#DC143C;
	color:white;
}

ul.nav-pills.nav-stacked{
	background-color:white;
	border:1px solid #ddd;
}


ul.nav-pills.nav-stacked.affix{  /* 不直接使用top，从而使其不会被顶部导航栏遮挡 */
	padding-top:15px;
	margin-top:-5px;
	width:165px;
}


article{
	background-color:white;
	padding:1em 1em;
	font-size:20px;
	line-height:3em;
	border:1px solid #ddd;
}

footer ul{
	list-style-type:none;
}

footer ul li{
	float:left;
	padding-right:10px;
}
footer ul li img{
	width:20px;
	height:20px;
}