body{
	margin-left:10%;
	margin-right:10%;
	margin-top:10%;
	min-width:500px;
}

.errorlist{
	color:red;
	list-style-type:none;
	padding:0 20px;
}

#heart{
	width:100%;
	padding-top:10%;
}

h2{
	text-align:center;
	font-weight:bold;
	margin-top:-5px;
}

span.necessary{
	color:red;
}

label{
	font-size:17px;
}

div.form-group>div>label{
	font-size:14px;
	margin-right:20px;
}


#login_button{
	display:inline;
	padding-top:10px;
}

button{
	background-color:#DC143C !important;
	color:white !important;
	font-weight:bold !important;
}

button:hover{
	background-color:red !important;
}

#id_captcha_1{
	width:60%;
	display:inline-block;
}

span.captcha_status{
	font-size:20px;
	margin-right:10px;
	margin-left:5px;
	position:relative;
	top:5px;
}

span.glyphicon-remove-sign{
	color:red;
}

span.glyphicon-ok-sign{
	color:green;
}

img.captcha{
	cursor:pointer;
	width:25%;
	height:34px;
	float:right;
}

footer ul{
	list-style-type:none;
}

footer ul li{
	float:left;
	padding-right:10px;
}
footer ul li img{
	width:20px;
	height:20px;
}