body{
	background-color:#fdfcf8;
	margin-left:10%;
	margin-right:10%;
	margin-top:1em;
	min-width:500px;
}

#logo{
	min-width:4em;
	padding-left:10%;
	padding-right:10%
}

#title{
	padding-top:5%;
}

#search{
	padding-top:.5em;
}

#user_pic{
	width:20px;
	height:20px;
	margin-top:-5px;
	border:1px #ddd solid;
}

a.user{
	color:black;
	
}

a.user:hover{
	color:red;
	text-decoration:none;
}

span.glyphicon-off{
	font-size:12px;
}

div.separate{
	width:1px;
	border-left:1px solid black;
	height:14px;
	display:inline-block;
	margin:0 5px -2px 5px;
}

nav{
	margin-top:0.5em;
	line-height:1.7;
}

#navbar{
	background-color:#A52A2A;
}

#navbar>div>ul{
	width:100%;
}

#navbar>div>ul>div>li{
	height:100%;
	text-align:center;
}

#navbar>div>ul>div>li>a{
	color:#FFFFFF;
	font-size:2em;
	width:100%;
	display:inline-block;
	height:100%;
}
#navbar>div>ul>div>li>a:link{
	text-decoration:none;
}


#navbar>div>ul>div>li>a:hover{
	font-weight:bold;
	background-color:#DC143C;
	text-decoration:none;
}

#navbar>div>ul>div>li>a:active{
	font-weight:bold;
	background-color:#DC143C;
	text-decoration:none;
}


div.navbar-header{
	background-color:#A52A2A;
}

div.navbar-header>button{
	background-color:#FFFFFF;
}

div.navbar-header>button>span{
	background-color:#A52A2A;
} 

#navbar ul.dropdown-menu{
	width:100%;
}

#navbar ul.dropdown-menu a{
	font-size:20px;
	text-align:center;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
	background-color: #DC143C;
	font-weight:bold;
}

div.navbar-header a{
	color:#FFFFFF;
	font-weight:bold;
	font-size:25px;
}

ul.navbar-nav{
	margin-left:0;
	margin-right:0;
}

article{
	border:1px solid #ddd;
	background-color:white;
}

#map{
	width:60%;
	padding-top:1em;
	margin-left:18%;
}

#location{
	position:relative;
}

article>h2{
	text-align:center;
}

#location img.img-circle{
	position:absolute;
	top:-150%;
	max-width:180%;
	left:-40%;
}

span.glyphicon-map-marker{
	font-size:18px;
	background:none;
	color:red;
}
div.marker{
		position:absolute;
}
#zjw{
	top:56%;
	left:48%;
}

#wmh{
	top:42%;
	left:65%;
}

#gsm{
	top:44%;
	left:57.5%;
}

#hwa{
	top:39%;
	left:59%;
}

#lxx{
	top:57.5%;
	left:69.5%;
}

#zs{
	top:60%;
	left:68%;
}

#wxx{
	top:47%;
	left:55%;
}

#zht{
	top:75%;
	left:62%;
}

#zd{
	top:56%;
	left:60%;
}

#wyl{
	top:59.5%;
	left:53%;
}

@-moz-keyframes myfirst                  /* 地图头像旋转动画-Firefox*/
{
	from {-moz-transform: rotateY(0deg);}
	to {-moz-transform: rotateY(360deg);}
}

@keyframes myfirst{                     /* 地图头像旋转动画*/
	from {-moz-transform: rotateY(0deg);}
	to {-moz-transform: rotateY(360deg);}
}

@-webkit-keyframes myfirst{            /* 地图头像旋转动画-Safari 和 Chrome*/
	from {-moz-transform: rotateY(0deg);}
	to {-moz-transform: rotateY(360deg);}
}

@-o-keyframes myfirst{                 /* 地图头像旋转动画-Opera*/
	from {-moz-transform: rotateY(0deg);}
	to {-moz-transform: rotateY(360deg);}
}

#location img.img-circle:hover{
	animation: myfirst 2s;
	-moz-animation: myfirst 2s;
	-webkit-animation: myfirst 2s;
	-o-animation: myfirst 2s;
	cursor:pointer;
}

#classification{
	margin:10px auto;
}

#classification li{
	width:20%;
	background-color:#f2dede;
	float:left;
	height:40px;
	overflow:hidden;
}

#li{
	width:50% !important;
	clear:left;
}

#wang{
	width:50% !important;
}

#classification li a{
	color:black;
	text-align:center;
	font-weight:bold;
	font-size:1.1em;
}

#classification li a:hover{
	background-color:#E9967A;
}


.cur{
	background-color:#E9967A !important;
}


.source{
	list-style-type:none;
	padding:10px 10px;
	height:300px !important;
	width:100% !important;
	border-right:1px solid #ddd;
}

@media screen and (max-width:992px){
	.source{
		border:0;
	}
}

.source li{
	float:left;
	padding-right:10px;
	padding-bottom:10px;
}

.source li img{
	max-width:90px;
	max-height:90px;
}

.source li span{
	text-align:center;
	padding:10% 40%;
}

#persons{
	margin:10px 10px;
}

#personal img{
	max-width:140px;
	max-height:140px;
	float:right;
}

#personal p{
	font-size:20px;
	line-height:35px;
}


footer ul{
	list-style-type:none;
}

footer ul li{
	float:left;
	padding-right:10px;
}
footer ul li img{
	width:20px;
	height:20px;
}